# Git
.git
.gitignore

# IDE
.idea
.vscode
*.swp
*.swo

# Build artifacts
specularium
netdiagram
*.db
*.db-journal
*.db-wal
*.db-shm

# Documentation
*.md
LICENSE

# Docker
Dockerfile
.dockerignore
docker-compose*.yml
